<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'class_styles.css' %}">
        <link rel="stylesheet" href="{% static 'general_styles.css' %}">
        <link rel="stylesheet" href="{% static 'navbar.css' %}">
    </head>
    <body>
        {% include "navbar.html" %}              
            <div class="content">    
                <div class="feed-left">
                    <span class="span-12">User info</span>                    
                    {% if request.user.profile.profilePic.content is None %}
                        <img src="{% static 'profile_pic_unavailable.jpg' %}" class="img-12">
                    {% else %}
                        <img src="{{request.user.profile.profilePic.content.url}}" class="img-12">
                    {% endif %}           
                    <div class="div-14">
                        <span class="span-13">Handle: @{{request.user}}</span>
                        <strong>Name: {{request.user.first_name}} {{request.user.last_name}}</strong>
                        <span class="span-13">{{request.user.profile.bio}}</span>
                    </div>                                
                </div>

                <div class="feed">
                    <span class="span-12">CREATE POST</span>
                    <form method="POST" action="/create-post/" enctype="multipart/form-data" class="div-14">
                        {% csrf_token %}
                        <input type="file" required name="photo" accept="image/*">
                        <input type="text" placeholder="Caption" required name="caption" style="height: 7vh; word-break: break-all;">
                        <input type="submit" value="CREATE">
                    </form>
                </div>

                <div class="feed-right">
                    <span class="span-12">Following</span>
                    {% for follow in following %}
                        <div class="div-14">
                            <div class="div-15">
                                {% if follow.profilePic.content is None %}
                                    <img src="{% static 'profile_pic_unavailable.jpg' %}" class="img-11">
                                {% else %}
                                    <img src="{{follow.profilePic.content.url}}" class="img-11">
                                {% endif %} 
                                <span class="span-13">{{follow.user.first_name}} {{follow.user.last_name}}</span>
                                <a href="/show-profile/{{follow.user.id}}/">
                                    <span class="span-13">@{{follow.user.username}}</span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </body>
</html>
