<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="class_styles.css">
        <link rel="stylesheet" href="general_styles.css">        
    </head>
    <body>
        <div class="content">            
            <div class="feed-left">
                <span class="span-12">Chats</span>

                <div class="div-14">
                    <div class="div-15">
                        <img src="aarzoo2.jpeg" class="img-11">
                        <span class="span-13">Aalskdjfklsdfjsdfsdklfksdjfjsdlfkjdflsdjrzoo Sood</span>
                        <span class="span-13">Mar 31, 2023</span>
                    </div>                    
                    <div class="div-16">
                        <p class="p-11">Kya hua sldkfjklsdfkl slkdfjlskdf slkdfjsldjf;;?</p>
                        <div class="div-17">99+</div>
                    </div>                    
                </div>

                <div class="div-14">
                    <div class="div-15">
                        <img src="aarzoo2.jpeg" class="img-11">
                        <span class="span-13">Aalskdjfklsdfjsdfsdklfksdjfjsdlfkjdflsdjrzoo Sood</span>
                        <span class="span-13">Mar 31, 2023</span>
                    </div>                    
                    <div class="div-16">
                        <p class="p-11">Kya hua sldkfjklsdfkl slkdfjlskdf slkdfjsldjf;;?</p>
                        <div class="div-17">99+</div>
                    </div> 
                </div>

                <div class="div-14">
                    <div class="div-15">
                        <img src="aarzoo2.jpeg" class="img-11">
                        <span class="span-13">Aalskdjfklsdfjsdfsdklfksdjfjsdlfkjdflsdjrzoo Sood</span>
                        <span class="span-13">Mar 31, 2023</span>
                    </div>                    
                    <div class="div-16">
                        <p class="p-11">Kya hua sldkfjklsdfkl slkdfjlskdf slkdfjsldjf;;?</p>
                        <div class="div-17">99+</div>
                    </div> 
                </div>

                <div class="div-14">
                    <div class="div-15">
                        <img src="aarzoo2.jpeg" class="img-11">
                        <span class="span-13">Aalskdjfklsdfjsdfsdklfksdjfjsdlfkjdflsdjrzoo Sood</span>
                        <span class="span-13">Mar 31, 2023</span>
                    </div>                    
                    <div class="div-16">
                        <p class="p-11">Kya hua sldkfjklsdfkl slkdfjlskdf slkdfjsldjf;;?</p>
                        <div class="div-17">99+</div>
                    </div> 
                </div>
            </div>




            <div class="feed">
                <div class="div-11">
                    <div class="div-12">
                        <img src="aarzoo3.jpeg" class="img-11">
                        <span class="span-13">Aarzoo Sood</span>
                        <span class="span-13">March 31, 2023</span>
                    </div>
                    <span class="span-11">In a mood to get some pictures clicked</span>
                    <img src="aarzoo1.jpeg" class="img-12">
                    <div class="div-13">
                        <span class="span-13">Likes:</span>
                        <span class="span-13">1024</span>
                        <input type="image" src="like_button_icon.png" class="input-image-11">
                    </div>
                    <div class="div-13">
                        <input type="text" placeholder="Write a comment" class="input-text-11">
                    </div>
                </div>

                <div class="div-11">
                    <div class="div-12">
                        <img src="aarzoo3.jpeg" class="img-11">
                        <span class="span-13">Aarzoo Sood</span>
                        <span class="span-13">March 31, 2023</span>
                    </div>
                    <span class="span-11">In a mood to get some pictures clicked</span>
                    <img src="aarzoo1.jpeg" class="img-12">
                    <div class="div-13">
                        <span class="span-13">Likes:</span>
                        <span class="span-13">1024</span>
                        <input type="image" src="like_button_icon.png" class="input-image-11">
                    </div>
                    <div class="div-13">
                        <input type="text" placeholder="Write a comment" class="input-text-11">
                    </div>
                </div>
            </div>




            <div class="feed-right">
                <span class="span-12">Online friends</span>
                <div class="div-14">
                    <div class="div-15">
                        <img src="aarzoo2.jpeg" class="img-11">
                        <span class="span-13">Aalskdjfklsdfjsdfsdklfksdjfjsdlfkjdflsdjrzoo Sood</span>
                        <div class="div-18"></div>
                    </div>
                </div>

                <div class="div-14">
                    <div class="div-15">
                        <img src="aarzoo2.jpeg" class="img-11">
                        <span class="span-13">Aalskdjfklsdfjsdfsdklfksdjfjsdlfkjdflsdjrzoo Sood</span>
                        <span>few mins ago</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>