<!DOCTYPE html>
{% load static %}
{% load tz %}
<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'class_styles.css' %}">
        <link rel="stylesheet" href="{% static 'general_styles.css' %}">
        <link rel="stylesheet" href="{% static 'navbar.css' %}">
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="content">
            <div class="feed-left">
                <span class="span-12">User info</span>
                {% if request.user.profile.profilePic.content is None %}
                    <img src="{% static 'profile_pic_unavailable.jpg' %}" class="img-12">
                {% else %}
                    <img src="{{request.user.profile.profilePic.content.url}}" class="img-12">
                {% endif %}           
                <div class="div-14">
                    <span class="span-13">Handle: @{{request.user.profile.user}}</span>
                    <strong>Name: {{request.user.first_name}} {{request.user.last_name}}</strong>
                    <span class="span-13">{{request.user.profile.bio}}</span>
                </div>                
            </div>

            <div class="feed">
                {% for chat in chats %}
                    <div class="div-14">
                        <div class="div-15">
                            {% if profile.profilePic.content is None %}
                                <img src="{% static 'profile_pic_unavailable.jpg' %}" class="img-11">
                            {% else %}
                                <img src="{{chat.1.profilePic.content.url}}" class="img-11">
                            {% endif %}
                            <span class="span-13">{{chat.1.user.first_name}} {{chat.1.user.last_name}}</span>
                            <span class="span-13">{{chat.0.upload_time|timezone:"Asia/Kolkata"}}</span>
                        </div>                        
                        <a href="/show-messages/{{chat.1.user.id}}">
                            <p class="p-11">{{chat.0.body}}</p>
                        </a>                        
                    </div>
                {% endfor %}
            </div>

            <div class="feed-right">
                <span class="span-12">Followers</span>
                {% for follower in profile.followers.all %}
                    <div class="div-14">
                        <div class="div-15">
                            {% if follower.profile.profilePic.content is None %}
                                <img src="{% static 'profile_pic_unavailable.jpg' %}" class="img-11">
                            {% else %}
                                <img src="{{follower.profile.profilePic.content.url}}" class="img-11">
                            {% endif %} 
                            <span class="span-13">{{follower.profile.user.first_name}} {{follower.profile.user.last_name}}</span>
                            <a href="/show-profile/{{follower.profile.user.id}}">
                                <span class="span-13">@{{follower.profile.user.username}}</span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>